@charset "UTF-8";
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

:root {
  /* --primery-в-color: #F5F5F5; */
  --next-color: #FFFFFF;
  --hover-color: #2196F3;
  --text-color: #212121;
  --secondery-text-color: #757575;
  --section-color: #2F303A;
  --team-b-color: #F5F4FA;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
}

.button {
  cursor: pointer;
  border-style: none;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}
.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.portfolio-main {
  background-color: var(--primery-в-color);
  padding-top: 94px;
  padding-bottom: 50px;
}

label.modal-politic-label, .modal-close, .footer-button, .footer-soc-link, .footer-soc-list, .client-link, .social__link, .social, .features__icons, .challenge__btn {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main-nav {
    justify-content: space-between;
  }
  .navigation {
    display: none;
  }
  .kontakts-list {
    display: none;
  }
  .modal-menu-oupen {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 40px;
    fill: #000000;
  }
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--next-color);
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__span {
  color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .modal-menu-oupen {
    display: none;
  }
  .navigation {
    margin-left: 87px;
  }
  .navigation__list {
    display: flex;
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .navigation__link.carrent::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--hover-color);
    border-radius: 2px;
  }
  .navigation__list .item + .item {
    margin-left: 50px;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    color: var(--hover-color);
  }
  .carrent {
    color: var(--hover-color);
  }
  .kontakts-list {
    margin-left: auto;
  }
  .header-mail,
  .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondery-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-mail:hover,
  .header-mail:focus,
  .header-tel:hover,
  .header-tel:focus {
    color: var(--hover-color);
  }
  .header-icons {
    fill: currentColor;
    margin-right: 10px;
  }
  .header-icons:hover, .header-icons:focus {
    color: var(--hover-color);
  }
  .header-mail.link,
  .header-tel.link {
    padding: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .header-mail.link,
  .header-tel.link {
    display: flex;
  }
  .kontakts-list {
    display: flex;
    justify-content: space-between;
  }
  .kontakts-list .item + .item {
    margin-left: 40px;
  }
}
.hero {
  background-color: #C4C4C4;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-mob-2x.jpg);
  }
}
.hero > .conteiner {
  padding: 0;
  width: 100%;
}

.challenge {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--next-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.challenge__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--next-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 24px;
  min-width: 200px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .challenge {
    font-size: 44px;
    line-height: 1.36;
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desk-2x.jpg);
  }
}
.features {
  background-color: var(--next-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.features__items {
  width: 100%;
}

.features__icons {
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
}

.svg-icons {
  background-position: center;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__items {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .photo {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .photo.section {
    padding-top: 0;
  }
  .photo-title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 50px;
  }
  .photo-works {
    display: flex;
  }
  .photo-works__gallery {
    position: relative;
  }
  .photo-works__gallery:not(:last-child) {
    margin-right: 30px;
  }
  .photo-works__text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
.team {
  background-color: var(--team-b-color);
}

.team__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.cards__gallery {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cards__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0px auto 10px auto;
  padding-top: 30px;
}

.cards__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
  margin: 0px auto;
  margin-bottom: 16px;
}

.social {
  justify-content: center;
  padding-bottom: 30px;
}

.social__items {
  width: 44px;
  height: 44px;
}
.social__items:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: FFFFFF;
  border-radius: 50%;
  justify-content: center;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social__icons {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .cards__gallery {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__gallery {
    width: calc((100% - 90px) / 4);
  }
  .team__title {
    margin-bottom: 50px;
  }
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.client-gallery {
  width: 210px;
  height: 92px;
  width: calc((100% - 30px) / 2);
}

.client-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}

.client-link {
  width: 100%;
  height: 100%;
  justify-content: center;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.client-link:hover, .client-link:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .client-gallery {
    width: 226px;
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-gallery {
    width: 170px;
    width: calc((100% - 150px) / 6);
  }
  .client-title {
    margin-bottom: 50px;
  }
}
.footer {
  background: var(--section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .conteiner-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner-section {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-section {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-section {
    text-align: start;
    margin-bottom: 0;
  }
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1lh;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--next-color);
}

.footer-adress {
  display: block;
}

.footer-span-logo {
  color: var(--hover-color);
  /* margin-bottom: 28px; */
}

.footer-adress-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--next-color);
  margin-top: 28px;
  margin-bottom: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.geolocation {
  margin-top: 28px;
  margin-bottom: 12px;
}

.mail {
  margin-bottom: 12px;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover,
.footer-adress-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--hover-color);
}

.footer-title {
  height: 16px;
  left: 516px;
  top: 2748px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--next-color);
  margin-bottom: 20px;
  margin-top: 12px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    width: 116px;
  }
}

.footer-soc {
  margin-top: 0;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-bottom: 0;
  }
}

.footer-soc-list {
  /* display: flex; */
  justify-content: center;
}

.footer-soc-items {
  width: 44px;
  height: 44px;
}
.footer-soc-items:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--hover-color);
  color: var(--next-color);
}

.footer-mailing-list {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-mailing-list {
    display: flex;
    align-items: flex-end;
  }
}

.mailing-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
@media screen and (min-width: 1200px) {
  .mailing-list {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-list {
    margin-left: 93px;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .f-m-t {
    margin-right: 12px;
  }
}

.footer-mailing-title {
  display: block;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--next-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-mailing-title {
    text-align: start;
  }
}

.footer-modal-input {
  min-width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2F303A;
  padding-left: 16px;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer-modal-input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-modal-input {
    margin-bottom: 0;
    min-width: 358px;
    margin-right: 12 px;
  }
}

.footer-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  justify-content: center;
  color: #FFFFFF;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin: 0 auto;
}

.footer-button-svg {
  color: #FFFFFF;
  fill: currentColor;
  margin-left: 10px;
  display: flex;
}

.header-icons {
  fill: currentColor;
  margin-right: 10px;
}
.header-icons:hover, .header-icons:focus {
  color: var(--hover-color);
}

.portfolio-items {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 auto;
  display: inline-block;
  padding: 6px 22px;
  min-width: 112px;
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--next-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-works {
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n+3) {
  margin-bottom: 94px;
}
.flex-element:nth-child(-n+6) {
  margin-bottom: 30px;
}
.flex-element:hover .portfolio-cover-text {
  transform: translateY(0);
}
.flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-tumb {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: opasity 500ms liner, visibility 500ms liner;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__conteiner {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    height: 40px;
    fill: #212121;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.site-nav__list {
  display: flex;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .site-nav__list {
    flex-direction: column;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--animation);
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    padding-top: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.site-nav__link.link--current {
  position: relative;
  color: var(--hover-color);
}
.site-nav__link.link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .site-nav__link.link--current::after {
    background-color: transparent;
  }
}

.mobile-menu-social_item:not(:last-child):after {
  content: "|";
  width: 1px;
  height: 100%;
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.fff {
  display: none;
}
@media screen and (min-width: 768px) {
  .fff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.mobile-menu-social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-social {
    display: none;
  }
}
.mobile-menu-social_item {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-right: 10px;
}
.mobile-menu-social_item:last-child {
  padding-left: 0;
}
.mobile-menu-social_item:not(:last-child):after {
  content: "|";
  width: 1px;
  height: 100%;
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobile-menu-social_link.link {
  color: var(--hover-color);
}

.contacts {
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}
.contacts__item {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .contacts__item {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767px) {
  .contacts__item__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .contacts .contacts__item--big-text .link {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    margin-bottom: 32px;
  }
}
.contacts__link.link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color var(--animation);
}
.contacts__link.link.link:hover {
  color: var(--accent-color);
}
.contacts__icon {
  display: flex;
  padding: 0;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.bacdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bacdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 100%;
  max-width: 450px;
  max-height: 609px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu > .mobile-menu__conteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.modal-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  font-size: 12px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--hover-color);
  outline: transparent;
}
.modal-input::-moz-placeholder {
  font-weight: 400;
}
.modal-input::placeholder {
  font-weight: 400;
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--hover-color);
  outline: transparent;
}

.modal-input:focus + svg,
.modal-input:hover + svg {
  fill: var(--hover-color);
}

.modal-input-group {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .modal-input-group {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}
.modal-input-group label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-text:focus, .modal-text:hover {
  border-color: var(--hover-color);
  outline: transparent;
}

.modal-input-group::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-group::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label.modal-politic-label {
  align-items: normal;
  margin-top: 20px;
  margin-left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  label.modal-politic-label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.modal-politic-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  align-items: center;
  margin-right: 8px;
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-politic-check:checked + label::before {
  border: none;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: url(../images/check.svg);
  background-position: center;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.modal-contract {
  text-decoration-line: underline;
  color: #2196F3;
  margin-left: 4px;
}

.modal-button {
  min-width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}/*# sourceMappingURL=main.css.map */