/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; } /* always display scrollbars */
/* body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; } */ 
/* ----------------------------------------------------------------------------------------- */


:root {
/* --primery-в-color: #F5F5F5; */
--next-color: #FFFFFF;
--hover-color:  #2196F3;
--text-color: #212121;
--secondery-text-color: #757575;
--section-color: #2F303A;
--team-b-color: #F5F4FA;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: Roboto, sans-serif;
}

.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.button {
    cursor: pointer;
    border-style: none; 
}

.section {
    padding: 94px 0;
}


/*-----HEADER-----*/
.header {
    background-color: var(--next-color);
    border-bottom: 1px solid #eee;
}

.main-nav {
display: flex;   
align-items: center;
}

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.span-logo {
color: var(--hover-color);
}

.header-list {
display: flex;
margin-left: 93px;
}

.header-link {
    display: block;
padding-top: 32px;
padding-bottom: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
}

.header-link.carrent::after {
    content: "";
    position: absolute;
width: 100%;
height: 4px;
bottom: 0;
left: 0;
background: var(--hover-color);
border-radius: 2px;
}

.header-mail::before {

}

.header-list .item + .item {
    margin-left: 50px;
}

.kontakts-list {
display: inline-flex;
margin-left: auto;
align-items: center;
}    

.kontakts-list .item + .item {
    margin-left: 40px;
}
.header-link:hover,
.header-link:focus {
color: var(--hover-color);
}

.carrent {
color:var(--hover-color);    
}

.header-mail,
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondery-text-color);
display: block;
padding-top: 32px;
padding-bottom: 32px;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail.link,
.header-tel.link {
    display: flex;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
color: var(--hover-color);
}

.header-icons:hover,
.header-icons:focus {
    color: var(--hover-color);
}

.header-icons {
    fill: currentColor;
    margin-right: 10px;
}


/*-----HERO-----*/
.hero {
background-color: #C4C4C4;
padding-top: 200px;
padding-bottom: 200px;
text-align: center; 
background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bc.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
max-width: 1600px;
margin: 0 auto;
}
/* .hero-section {
padding-top: 200px;
padding-bottom: 200px;
} */

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* text-align: center; */
letter-spacing: 0.06em;
color: var(--next-color);
/* background-color: #C4C4C4; */
text-transform: uppercase;
margin-bottom: 30px;  
}

.hero-btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
/* text-align: center; */
letter-spacing: 0.06em;
color: var(--next-color);
background-color: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin: 0 auto;
display: inline-block;
padding: 10px 24px;
min-width: 200px;
}


/*-----Особливості-----*/

.features {
background-color: var(--next-color);    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.features-items:not(:last-child) {
    margin-right: 30px;
}

.features-icons {
    /* background-position: 50% 50%; */
    display: flex;
width: 270px;
height: 120px;
left: 215px;
top: 774px;
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
justify-content: center;
align-items: center;
}

.svg-icons {
background-position: center;
}

.features-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--text-color); 
margin-bottom: 10px;   
}
.features-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondery-text-color);
}

/*-----Фото занять-----*/
.photo.section {
    padding-top: 0;
}


.photo-title,
.team-title,
.client-title {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
margin-bottom: 50px;
}

.photo-list {
    display: flex;
}

.photo-gallery {
    position: relative;
}

.photo-gallery:not(:last-child) {
    margin-right: 30px;
}

.photo-text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
background-color: rgba(47, 48, 58, 0.8);
padding-top: 27px;
padding-bottom: 27px;
}

/*-----Команда-----*/

.team {
    background-color: var(--team-b-color);
}

.team-list {
    display: flex;
}

.team-gallery:not(:last-child) {
    margin-right: 30px;
}

.team-gallery {
    width: calc((100%-90px)/4);
background-color: #FFFFFF;    
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
    margin: 0px auto 10px auto;
    padding-top: 30px;
}


.team-text {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondery-text-color);
margin: 0px auto;
margin-bottom: 16px;
}

.teams-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.teams-soc-items {
    width: 44px;
    height: 44px;
}

.teams-soc-items:not(:last-child) {
    margin-right: 10px;
}

.teams-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: FFFFFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teams-soc-link:hover,
.teams-soc-link:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.teams-soc-icons {
    fill: currentColor;
}


/*-----Клієнти-----*/

.client-list {
display: flex;
}

.client-link {
display: flex;
width: 170px;
height: 92px;
left: 215px;
top: 2490px;
justify-content: center;
align-items: center;
border: 1px solid #AFB1B8;
color: #AFB1B8;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-gallery:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    fill: currentColor;
}

.client-link:hover,
.client-link:focus {
color: var(--hover-color); 
border-color: var(--hover-color);   
}




/*-----Футер-----*/

.footer {
background: var(--section-color);
padding-top: 60px;
padding-bottom: 60px;
}

.conteiner-section {
    display: flex;
}

.footer-logo {
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--next-color);

}

.footer-adress {
    display: block;
}

.footer-span-logo {
color: var(--hover-color);
/* margin-bottom: 28px; */
}

.footer-adress-link {
font-style: normal;   
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--next-color);
margin-top: 28px;
margin-bottom: 12px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.geolocation {
    margin-top: 28px;
    margin-bottom: 12px;
}

.mail {
    margin-bottom: 12px;
}

.footer-mail,
.footer-tel {
font-style: normal;    
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-top: 12px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover,
.footer-adress-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
color: var(--hover-color);
}
/* .footer-soc {
    display: flex;
} */

.footer-title {
width: 116px;
height: 16px;
left: 516px;
top: 2748px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--next-color);
margin-bottom: 20px;
}

.footer-soc {
    margin-top: 0;
    margin-left: 70px;
}

.footer-soc-list {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-soc-items {
    width: 44px;
    height: 44px;
}

.footer-soc-items:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, .1);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

/*-----Модальне вікно-----*/

.bacdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px;
}

.bacdrop.is-hidden .modal {
transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal-heading {
    /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
/* position: absolute; */
letter-spacing: 0.03em;
margin-bottom: 12px;

color: #212121;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    padding: 11px 12px;
    font-size: 12px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-input:focus,
.modal-input:hover {
    border-color: var(--hover-color);
    outline: transparent;
}

.modal-input:focus + svg,
.modal-input:hover + svg {
    fill: var(--hover-color);
}
.modal-input-group {
    margin-bottom: 10px;  
}

.modal-input-group label {
    display: block; 
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;

}

.modal-input::placeholder {
    font-weight: 400;
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    padding: 12px 16px;
    font-size: 12px; 
    resize: none;
}

.modal-text:focus,
.modal-text:hover {
    border-color: var(--hover-color);
    outline: transparent;
}

.modal-input-group::placeholder {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.modal-input-wrapper {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----ПОРТФОЛІО-----*/ 

.portfolio-main {
background-color: var(--primery-в-color);
padding-top: 94px;
padding-bottom: 50px;    
}
/*-----Герой портфоліо-----*/

.portfolio-items {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.portfolio-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color); 

margin: 0 auto;
display: inline-block;
padding: 6px 22px;
min-width: 112px;
}

.portfolio-btn {
    margin-right: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
color: var(--next-color);    
background-color: var(--hover-color); 
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);   
}

/*-----Приклади робіт-----*/

.portfolio-works {
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    width: 370px;
    margin-right: 30px;
}

.flex-element:nth-child(3n)   {
margin-right: 0px;
}

.flex-element:nth-last-child(-n+3) {
    margin-bottom: 94px;
}

.flex-element:nth-child(-n + 6) {
    margin-bottom: 30px;
}

.flex-tumb {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
position: absolute;
top: 0;
height: 100%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1,56;

letter-spacing: 0.03em;

color: #FFFFFF;
background: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.flex-element:hover .portfolio-cover-text {
    transform: translateY(0);
}

.description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.flex-element:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.portfolio-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--text-color);
margin-bottom: 4px;
}

.portfolio-text {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--secondery-text-color);
}

