
.bacdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden .modal {
transform: translate(-50%, -50%) scale(0);
}
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px;
    width: 100%;
    max-width: 450px;
    max-height: 609px;

    // @media screen and (min-width: 768px) {

    // transform: translate(-50%, -50%) scale(1);
    // }


    @media screen and (min-width: 1200px) {
            max-width: 528px;
            max-height: 581px;
        }

}



.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    @extend %flex-align;
    justify-content: center;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu > .mobile-menu__conteiner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.modal-heading {
font-style: normal;
@include font(700, 20px, 1.15, 0.03em);
text-align: center;
margin-bottom: 12px;
color: #212121;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    padding: 11px 12px;
    font-size: 12px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:focus,
    &:hover {
    border-color: var(--hover-color);
    outline: transparent;
}
&::placeholder {
    font-weight: 400;
}
}



.modal-input:focus,
.modal-input:hover {
    border-color: var(--hover-color);
    outline: transparent;
}

.modal-input:focus + svg,
.modal-input:hover + svg {
    fill: var(--hover-color);
}
.modal-input-group {
    margin-bottom: 10px;
    
        @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
    
    & label {
    display: block; 
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    padding: 12px 16px;
    font-size: 12px; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
&:focus,
&:hover {
    border-color: var(--hover-color);
    outline: transparent;
}
    }

.modal-input-group::placeholder {
font-style: normal;
@include font( 400, 12px, 1.17, 0.01em);
color: rgba(117, 117, 117, 0.5);
}

.modal-input-wrapper {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



label.modal-politic-label {
    align-items: normal;
    margin-top: 20px;
    margin-left: 12px;
    @extend %flex-align;
    @include font(400, 12px, 1.71, 0.03em);
color: #757575;
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }

}

.modal-politic-label::before {
    content: "";
        display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    align-items: center;
    margin-right: 8px;
    transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-politic-check:checked + label::before {
    border: none;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: url(../images/check.svg);
    background-position: center;
    background-color: var(--hover-color); 
    border-radius: 2px;
}

.modal-contract {
    text-decoration-line: underline;
    color: #2196F3;
margin-left: 4px;
}

.modal-button{
    min-width: 200px;
    height: 50px;
    font-style: normal;
    @include font(700, 16px, 1.88, 0.06em);
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}