
.client-list {
display: flex;
}

.client-link {
display: flex;
width: 170px;
height: 92px;
left: 215px;
top: 2490px;
justify-content: center;
align-items: center;
border: 1px solid #AFB1B8;
color: #AFB1B8;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-gallery:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    fill: currentColor;
}

.client-link:hover,
.client-link:focus {
color: var(--hover-color); 
border-color: var(--hover-color);   
}
