.features {
background-color: var(--next-color);    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.features__items {
    width: 100%;
}

// .features__items:not(:last-child) {
//     margin-right: 30px;
// }

.features__icons {
@extend %flex-align;
width: 100%;
height: 120px;
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
justify-content: center;
}

// .features__icons {
// @extend %flex-align;
// width: 100%;
// height: 120px;
// left: 215px;
// top: 774px;
// background: #F5F4FA;
// border-radius: 4px;
// margin-bottom: 30px;
// justify-content: center;
// }

.svg-icons {
background-position: center;
}

.features__title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--text-color); 
margin-bottom: 10px;   
}

.features__text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondery-text-color);
}

@media screen and (max-width: 767px) {
    .features__title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .features__items {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .features__items {
        width: calc((100% - 90px) / 4);
    }
}