
.footer {
background: var(--section-color);
padding-top: 60px;
padding-bottom: 60px;
}

.conteiner-section {
    display: flex;
    flex-direction: column;
    align-items: center;

@media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
            align-items: flex-start;
    }
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
             align-items: flex-start;
        }
}

.footer-section {
    
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom:0;
    }
}

.footer-logo {
font-family: Raleway, sans-serif;
@include font( 700, 26px, 1.1lh, 0.03em);
font-style: normal;
color: var(--next-color);
}

.footer-adress {
    display: block;
}

.footer-span-logo {
color: var(--hover-color);
/* margin-bottom: 28px; */
}

.footer-adress-link {
font-style: normal;  
@include font(null, 14px, 1.71, 0.03em); 
color: var(--next-color);
margin-top: 28px;
margin-bottom: 12px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.geolocation {
    margin-top: 28px;
    margin-bottom: 12px;
}

.mail {
    margin-bottom: 12px;
}

.footer-mail,
.footer-tel {
font-style: normal; 
@include font(null, 14px, 1.71, 0.03em);   
color: rgba(255, 255, 255, 0.6);
margin-top: 12px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover,
.footer-adress-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
color: var(--hover-color);
}

.footer-title {
// width: 116px;
height: 16px;
left: 516px;
top: 2748px;

font-family: 'Roboto';
font-style: normal;
@include font(700, 14px, 1.14, 0.03em);
text-transform: uppercase;
color: var(--next-color);
margin-bottom: 20px;
margin-top: 12px;
text-align: center;
    @media screen and (min-width: 1200px) {
                   width: 116px;
        }
}

.footer-soc {
    margin-top: 0;
    margin: 0 auto;
     margin-bottom: 60px;
    @media screen and (min-width: 768px) {
                   margin: 0;
        }
          @media screen and (min-width: 1200px) {
                   margin-bottom: 0;
        }
}

.footer-soc-list {
    /* display: flex; */
    justify-content: center;
    @extend %flex-align;
}

.footer-soc-items {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
    margin-right: 10px;
}

}


.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, .1);
    justify-content: center;
    @extend %flex-align;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--hover-color);
    color: var(--next-color);
}
}



.footer-mailing-list {
display: block;
 @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-end;
        }
}

.mailing-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
     @media screen and (min-width: 1200px) {
       margin-left: auto;
       margin-right: auto;
        }
   @media screen and (min-width: 1200px) {
          margin-left: 93px;
    margin-top: 12px;
        margin-left: 0;
    margin-right: 0;
        }
    
}

.f-m-t {
     @media screen and (min-width: 1200px) {
    margin-right: 12px;
        } 
}

.footer-mailing-title {
    display: block;
    font-style: normal;
    text-align: center;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--next-color);
    margin-bottom: 20px;

     @media screen and (min-width: 1200px) {
            text-align: start;
        }
}

.footer-modal-input {
min-width: 300px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background: #2F303A;
padding-left: 16px;
margin-right: auto;
cursor: pointer;
    margin-bottom: 20px;
      @media screen and (min-width: 480px) {
          min-width: 450px;
      }
     @media screen and (min-width: 1200px) {
            margin-bottom: 0;
            min-width: 358px;
            margin-right: 12 px;
        }
}

.footer-button {
    // width: 200;
    // height: 50;
    font-style: normal;
    @include font(700, 16px, 1.88, 0.06em);
    @extend %flex-align;
    justify-content: center;
    color: #FFFFFF;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
    margin: 0 auto;
}

.footer-button-svg {
color: #FFFFFF;
fill: currentColor;
margin-left: 10px;
display: flex;
}



.header-icons {
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
    color: var(--hover-color);
}
}